.socialicons {
	background-color: #ECF0F1;
	margin-right: 12px;
	display: inline-block;
	margin-top:15px;
}

.socialicons:hover {
	background-color: #3498DB;
	margin-right: 12px;
	display: inline-block;
	margin-top:15px;
}


	
.floatright {
	float: right;
	width: 50%;
}

.gridcontain1 {
}







#rectangle {
	width: 100%;
	height: 20px;
	background-color: #3498DB;
	display: block;
	float: left;
	clear: left;
	border-bottom-color: #646464;
	border-radius: 0px;
	padding-bottom: 5px;
	border-bottom-style: solid;
}

.template {
	background-image:url(/images/template/background_desktop.jpg);
	background-size: cover;
}

ul {
    list-style-type: none;
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

.gridcontain1 {
	width: 30%;
}	

.floatright {
	float:right;
	width:50%;
}


}
	

@media only screen and (max-width: 40em) { 

.gridcontain1 {
	width:100%;
}	

.socialicons {
	display: none;
}

.socialicons:hover {
	display: none;
}
	
}
