@charset "UTF-8";
body {
	background-color: #FDFFF1;
	font-family: droid-serif;
	font-style: normal;
	font-weight: 400;
	color: #33414F;
	font-size: 1em;
	line-height: 1.5em;
}



h1 {
	color: #000000;
	font-family: montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1;
}

h2 {
	color: #000000;
	font-family: montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 1.375em;
	line-height: 1.09;
}


ul {
	color: #33414F;
	font-family: droid-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
}


