@charset "UTF-8";
#logo {
	position: static;
	float: left;
	clear: left;
	visibility: visible;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 
	height: 120px;
}

#logosize {
	background: url(/svg/logo/proppmbanner.svg);
	background-size: cover;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	position: static;
	float:right;
	
}
